.boton-dashboard {
    padding: 10px 20px;
    background-color: #6600cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
}

.modal-dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contenido-modal {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.cerrar-modal {
    color: black;  
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: #555;
    transition: all 0.3s ease;

}

.bloque-seccion {
    margin-top: 20px;
}

.nombre-emocion {
    font-weight: 600;
    color: #555;
    margin-right: 10px;
}

.fecha-emocion {
    font-weight: 600;
    color: #555;
}
  