.verify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f4f6fc, #e8edff);
    padding: 1rem;
}
.verify-box {
    background-color: #ffffff;
    padding: 2.5rem;
    padding-top: 30px;
    border-radius: 1rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
    max-width: 1400px;
    max-height: 1300px;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 30px 0px rgba(79, 21, 167, 0.288);
    display:grid;
    justify-content: left ;
    align-items: center;
}
.verify-face {
    border: 2px dashed #c3c6db;
    border-radius: 12px;
    padding: 1.5rem;
    background-color: #f9fafe;
    height: auto;
    width: auto;
}

.h2 {
    font-size: 1.8rem;

    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    letter-spacing: 0.5px;
}

.p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0 1.2rem 0;
    line-height: 1.6;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.05);
}