.custom-botton-donation{
    padding: 15px;
    background-color: #7B4AFF;
    border-radius: 10px;
    margin: 10px;
    width: 530px;
    font-size: 19px;
    cursor: pointer;
}

.custom-list{
    align-items: center;
    position: relative;
    top: 4px;
    list-style: none; /* quita el punto por que tiene por defecto */
    gap: 3px;
    padding: 0;
    margin: 0;
}

.custom-list li{
    display: flex;
    align-items: flex-start; 
    gap: 4px;
    margin-bottom: 8px;     
    font-size: 19px;        
    line-height: 1.4; 
}

.custom-list i{
    font-size: 1em;
    line-height: 0;
    margin-top: 3px; 
    padding-top: 0; 
    flex-shrink: 0;
    color: #66558f;
}

.custom-list li:hover  {
    transition: transform 0.5s ease;
    color: #301946;
}

.custom-input-donation{
    background-color: #F8F5FF;
    border-color: #E6E0F0;
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #5d3e7b;
}