.content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.general-content{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 700px;
    border-radius: 10px;
    width: auto;
}

.subtitulo{
    color: #5d3e7b;
}

.general-card{
    display: block;
    box-sizing: border-box;
    max-width: 930px;
    width: auto;
    height: auto;
    padding: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(78, 11, 179, 0.219);
    background: white;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.general-card p{
    max-width: 550px;
}

.general-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(55, 6, 128, 0.335);
    transition: all 0.3s ease;
}

.general-card:has(.modal-dashboard) {
    transform: none !important;
    transition: none !important;
}

.custom-input-general{
    background-color: #F8F5FF;
    border-color: #E6E0F0;
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #5d3e7b;
}

.custom-input-general{
    background-color: #F8F5FF;
    border-color: #E6E0F0;
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #5d3e7b;
}

.general-button{
    padding: 15px;
    background-color: #7B4AFF;
    border-radius: 10px;
    margin: 10px;
    width: 530px;
    font-size: 19px;
    cursor: pointer;
}